.boards{
	
		text-align: center;
		margin-top: 230px;
	
}
.boards p{
		@include melynas-tekstas;
	}





.board-section{
/* 	background-image: url("../images/background-waves_02-min.jpg" ); */
/* 	background-color:rgba(0, 0, 0, 0.5); */
    background-image: url("../images/transparency.png"),
    linear-gradient(90deg,#fff,hsla(0,0%,100%,0) 25%,hsla(0,0%,100%,0) 75%,#fff),
    linear-gradient(180deg,#fff,hsla(0,0%,100%,0) 25%,hsla(0,0%,100%,0) 75%,#fff),
    linear-gradient(180deg,hsla(0,0%,100%,.9),hsla(0,0%,100%,.9)),
    url("../images/background-waves_02-min.png");



    background-position: 50% 0,0 0,0 0,0 0,50% 50%;
    background-size: 100%,auto,auto,auto,cover;
    background-repeat: repeat-y,repeat,repeat,repeat,no-repeat;
    background-attachment: scroll,scroll,scroll,scroll,fixed;


 /*    background-attachment:fixed; */







	display: flex;
	flex-direction:column;
	position:relative;

	.owl-prev,
	.owl-next {
	  position: absolute;
	  top: 60%;
	  transform: translateY(-50%);
	}

	.owl-prev {
	  left: -2rem;
	}

	.owl-next {
	  right: -2rem;
	}
}

.board{
	display: flex;

} 

.aprasymas{
	position: absolute;
	z-index: 100;
	h6{
		@include quote-text;
	}
	margin-left: 200px;
}
.pilkas-backgroundas{
	position:absolute;	
	bottom: 0; 
	z-index: -1;
	max-width: 226px;
}

.with-horizontal-line{
 
		a{
			text-decoration: none;
			padding-left: 5px;
			@include author;			
			line-height: 1em;										
		}		
	}

.aprasymas{
	p:nth-child(1){
		margin-top: 196px;
		@include board-name;
	}
	p:nth-child(3){
		@include kaina;
		text-align: center;
	}
	p:nth-child(4){
		@include author;
		text-align: center;
		line-height: 0.1;
	}		
}