form{
	display: flex;
}
.form-section{
    background-image: url("../images/transparency.png"),
    linear-gradient(90deg,#fff,hsla(0,0%,100%,0) 25%,hsla(0,0%,100%,0) 75%,#fff),
    linear-gradient(180deg,#fff,hsla(0,0%,100%,0) 25%,hsla(0,0%,100%,0) 75%,#fff),
    linear-gradient(180deg,hsla(0,0%,100%,.9),hsla(0,0%,100%,.9)),
    url("../images/background-surfer-min.jpg");



    background-position: 50% 0,0 0,0 0,0 0,50% 50%;
    background-size: 100%,auto,auto,auto,cover;
    background-repeat: repeat-y,repeat,repeat,repeat,no-repeat;
    background-attachment: scroll,scroll,scroll,scroll,fixed;


	
	margin-top: 60px;
	position: relative;
	flex-direction:column;
	justify-content:center;
	margin-bottom: 148px;
	p{
	@include kitas-paragrafas;
	max-width: 557px;
	margin-bottom: 39px;
	}
}

form input:nth-child(1){
	@include author;
	padding-left: 29px;
	width: 590px;
	height: 50px;
	border: none;
	background-color: #f5f5f5;
	
}

.button {
  background-color: #5da8ef;
  margin:0;
  border: none;
  color: white;
  height:50px;
  width: 50px;
  padding-left: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  cursor: pointer;
}
