.point-break{
	margin-top: 121px;
	flex-direction:column;
	align-items: center;
	.vertical-line{
		margin-top:113px;
		margin-bottom: 63px;
	}
}

.picture{
	margin-left: 217px;
	max-width: 489px;
}
.cont{
	display: flex;
	justify-content: center;
}

